body {
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 17px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.web-name {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.web-name:hover {
  color: #236d47;
}

.nav-text1,
.nav-text2,
.nav-link {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.nav-link {
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover {
  color: #236d47;
}

.nav-text1 {
  padding-left: 27px;
  margin-left: 24px;
  border-left: 2px solid #4e4e4e;
}

.nav-text2,
.nav-text1 {
  margin-right: 5px;
}

.svg-icon {
  margin-left: 24px;
  cursor: pointer;
}

.svg-path {
  fill: white;
  transition: 0.3s;
}

.svg-icon:hover .svg-path {
  fill: #236d47;
}

.nav-bar-right {
  display: flex;
  align-items: center;
}

main {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 324px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 30px 60px;
  position: relative;
}

.form::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  left: 0;
  top: 29px;
}

.form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-name {
  font-family: "Ubuntu";
  font-size: 20px;
  color: #434343;
  cursor: default;
}

.login {
  font-family: "Ubuntu";
  font-size: 14px;
  color: #3cb878;
  transition: 0.3s;
  cursor: pointer;
}

.login:hover {
  color: #01813f;
  text-decoration: underline;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.fb-link {
  width: 160px;
  height: 48px;
  background: #305db8;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.fb-link:hover {
  background: #022263;
}

.fb-link:hover .fb-text {
  border-left: 2px solid #02215f;
}

.g-link {
  background: #df4a32;
  width: 160px;
  height: 48px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.g-link:hover {
  background: #ab1f09;
}

.g-link:hover .g-text {
  border-left: 2px solid #a11d09;
}

.fb-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-right: 26px;
  padding-left: 20px;
  line-height: 28px;
  border-left: 2px solid #2d57ac;
  transition: 0.3s;
}

.g-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-right: 27px;
  padding-left: 27px;
  line-height: 28px;
  border-left: 2px solid #d2462f;
  transition: 0.3s;
}

.logoG {
  margin-left: 15px;
}

.logoF {
  margin-left: 17px;
}

.hr {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
  text-align: center;
  margin-bottom: 12px;
  cursor: default;
}

.hr::before {
  content: "";
  width: 152px;
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 0px;
}

.hr::after {
  content: "";
  width: 152px;
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  top: 50%;
  right: 0px;
}

.inputs {
  text-align: center;
}

.area,
textarea {
  width: 304px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 0.3s;
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
  cursor: pointer;
}

.area:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.area:not(:last-child) {
  margin-bottom: 15px;
}

.area:last-child {
  margin-bottom: 12px;
}

.area::placeholder {
  color: #848484;
  font-family: "Ubuntu";
  font-size: 14px;
}

.cb-area {
  margin-bottom: 20px;
  display: inline-block;
  padding-left: 20px;
  position: relative;
}

.cb-area::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  top: -2px;
  left: -10px;
  position: absolute;
}

.cb:checked + .cb-area::before {
  background-image: url(../img/cb-img.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.cb {
  margin-bottom: 20px;
  appearance: none;
}

.cblink {
  color: #3cb878;
  transition: 0.5s;
  cursor: pointer;
}

.cblink:hover {
  color: #01813f;
  text-decoration: underline;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-family: "Ubuntu";
  font-size: 16px;
  color: #ffffff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.submit:hover {
  background: #01813f;
}
